.faq{
    /* display:flex; */
    /* position:fixed; */
     /* top:80px; */
     width:200px;
     height:100vh;

}
.faq2{
    margin-left: 5px;
    width:100%;
}
.faq>div{
    gap:10px;
    /* margin-left: 200px; */
    margin: 5px ;
    background-color:#f1f1f1;
    align-items: center;
    justify-content: center;
   
   
    text-align: center;
    height:50px;
    width:200px;
}